@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --primary: #fb0a74;
  --secondary: #da9d8c;
  --accent: #e0795b;
  --background: #fb0a74;
  --text: #f3f4fa;
  --secondary-text: #1d1d1d;
}

.navbar {
  background-color: var(--primary) !important;
  font-weight: 400;
}
.navbar-brand,
.nav-link {
  font-weight: 600;
  color: var(--text) !important;
}
/* Adding the slide-in animation */
/* Adding the slide-in animation */
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%); /* Start from the left */
      opacity: 0; /* Initially hidden */
    }
    100% {
      transform: translateX(0); /* Slide into place */
      opacity: 1; /* Fade in */
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%); /* Start from the right */
      opacity: 0; /* Initially hidden */
    }
    100% {
      transform: translateX(0); /* Slide into place */
      opacity: 1; /* Fade in */
    }
  }
  
  /* Apply the animation to the text section */
  .animate-slide-left {
    animation: slideInFromLeft 1s ease-out forwards;
  }
  
  /* Apply the animation to the image section */
  .animate-slide-right {
    animation: slideInFromRight 1s ease-out forwards;
    animation-delay: 0.5s; /* Delay the image animation to make it staggered */
  }
  
/* Main Section */
.main-section {
  background-image: url(assets/logo.jfif);
  height: auto;
  background-size: cover;
  background-attachment: fixed; /* Keeps the background fixed */
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.image-home {
    filter: drop-shadow(0 0 0.75rem #f3f4fa);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Ensures the overlay is above the background but below content */
}
.navbar-brand, .nav-link {
    color: #f3f4fa !important;
}

.events {
  background-color: var(--background);
}

.text-cont {
  font-family: "poppins";
  background-color: rgb(251, 10, 116, 0.5);
  border-radius: 10px;
}
.content {
  position: relative;
  color: #f3f4fa;
  z-index: 2; /* Ensures content is above the overlay */
  font-family: "poppins";
}
.show {
  color: #11ff00;
  font-family: "poppins";
}

.events h1 {
  font-family: "poppins";
  font-weight: 600;
  color: var(--text);
}
.carousel {
  border-radius: 10px;
  overflow: hidden;
}

/* Keyframes for cursor blinking */
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(82, 60%, 28%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --body-color: hsl(0, 0%, 95%);
  --container-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h2-font-size: 1.25rem;
  --small-font-size: 0.813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: 0.875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
  margin: 0;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

.card__button {
  text-decoration: none;
  font-size: var(--small-font-size);
  font-weight: 500;
  color: var(--first-color);
}

.card__button:hover {
  text-decoration: underline;
}

/* Naming animations in hover */
.card__article .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity 0.3s;
}

.card__article {
  animation: remove-overflow 2s forwards;
}


/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(0.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

.footer {
    background-color: var(--primary);
    color: white;
  }
  
  .footer h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .footer p {
    font-size: 1rem;
    margin-bottom: 0;
  }
  
  /* Social media icons */
  .contact-icons {
    display: flex;
    gap: 20px;
    justify-content: start;
  }
  
  .social-icon {
    font-size: 1.5rem;
    color: var(--secondary-text);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .social-icon:hover {
    color: #3498db; /* Hover color */
    transform: scale(1.1); /* Slight scaling effect */
  }

  .map img {
    width: 400px;
    border-radius: 10px;
  }

  .contact-us {
    background-color: #f3f4fa;
    color: var(--secondary-text);
    font-family: 'poppins';
  }

  .faculty {
    background-color: #f3f4fa;
    color: var(--secondary-text);
    font-family: 'poppins';
  }

#testimonials h1 {
  font-family: 'poppins';
  font-weight: 600;
}
.testimonials {
  background-color: var(--background);
  color: var(--text);
  font-family: 'poppins';
}
.testimony {
  position: absolute;
  font-family: 'poppins';
  background-color: #9ab6d2;
  border-radius: 10px;
  width: 600px;
  padding: 20px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.alumni {
  position: relative;
  padding: 50px;
}

.alumni img {
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.alumni .testimony.container.p-2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--text);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.faculty-info {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.faculty-info img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.faculty-info h3 {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.faculty-info p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}
#testimonials img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


#testimonials img:hover {
  border: solid 2px black;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
